<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HKCRM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style>
        .leads{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 6px;
                padding-right: 6px;
                margin-top: 10px;
                background-color: #f6f6f6;
                width: 100%;
            }
    </style>
    <body>
        {% block content%}
        {% endblock content%}
        {% include "scripts.html" %}
    </body>
</html>